body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-family: 'Roboto', 'PT Sans', 'Helvetica', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 16 0;
    gap: 3rem;
}

.nav-bar > * {
    flex-basis: 30%;
}

.nav-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: end;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 60 0;
 
}

.hero > * {
    flex-basis: 30%;
}

.hero-img {
    background-color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-p {
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    padding: 8 20;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 18;
    font-weight: bold;
    border-style: none;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.information {
    text-align: center;
}

.information h2 {
    font-size: 36;
    font-weight: 900;
}

.quote-section {
    justify-content: center;
    background-color: #E5E7EB;   
    display: flex;
}

.quote-container {
    flex-basis: 50%;
    padding: 100 0;
}

.quote {
    font-size: 36;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0;
}

.quote-attribute {
    font-weight: 800;
    font-size: 18;
    text-align: end;
    margin-top: 0;
}


